h1 {
    text-align:center;
    background-color: purple ;
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: blue;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: pink;
}
